<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>amolAutolayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>619146921D7D3CE400FB8A7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>619146AB1D7D3CE400FB8A7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>619146B61D7D3CE400FB8A7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
